numpy
open3d
scikit-learn
scipy
Pillow
pyproj
opencv-python
requests
rasterio
psutil
pyyaml


#ultralytics         # For YOLOv8/YOLOv11 model training and inference
#joblib              # For saving/loading the trained Random Forest models